dist
node_modules
public
.husky
output
coverage
temp
__snapshots__

.*rc.js
.*rc.cjs
*.css
*.pcss
*.scss
*.svg
*.min.*
LICENSE*
CHANGELOG.md
package-lock.json
pnpm-lock.yaml
yarn.lock

!.github
!.vitepress
!.vscode
